.libitem-card button {
  background: transparent;
  box-shadow: none;
  font-weight: bold;
  border-radius: 3px; }

.rating-inactive {
  border: 1px solid transparent;
  color: grey; }

.libitem-like-button .rating-active {
  color: blue;
  border: 1px solid skyblue; }

.libitem-dislike-button .rating-active {
  color: red;
  border: 1px solid red; }
